<div>
    <form action = "/search" id="searchForm" class="searchForm" method="POST">

        {{#if errors.length}}
        {{#each errors}}
        <div>{{this}}</div>
        {{/each}}
        {{/if}}

        {{#if location}}
        <input id="ipSearchField" name="ip" value="{{location.ip}}" type="text" placeholder="Enter IP address">
        {{else}}
        <input id="ipSearchField" name="ip" type="text" placeholder="Enter IP address">
        {{/if}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {{#if location}}
        <div>City : {{location.city}}</div>
        <div>State : {{location.state}}</div>
        <div>Country : {{location.country}}</div>
        <div id="map" style="height: 400px;width: 400px"></div>
        <script>
            function initMap() {
	var mapOptions = {
		zoom: 8,
		center: new google.maps.LatLng(40.7, -74),
		mapTypeId: 'roadmap'
	};
	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	var goldenGatePosition = {lat: 40.72816,lng: -74.07764};
	var marker = new google.maps.Marker({
			position: goldenGatePosition,
			map: map,
			title: 'Golden Gate Bridge'
			});

}
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbAxSuNRp8b_2ncQ8ENpWgxE0yAVfxjiI&callback=initMap" async defer></script>
    {{/if}}

</div>